* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;

}
.inputs{
  width: 100%;   
  outline: none;
  border: none;
  background: #eeedef;
  overflow-x: hidden;
  height: 40px;
  padding: 3px;
  font-size: 1.1rem;
 }
 .inputs:focus{
   border-bottom:2px solid rgb(234 88 12) ;
 }
 .label{
  color: #484749;
  margin-left: 3px;
  font-weight: 600
 }
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

}

